
*.aux

*.aux

*.log

*.pdf
*.out
*.bbl
*.blg
*.fls
*.dvi
*.fdb_latexmk
*.DS_Store



2013specconstr/SpecCoTalkAbstract.txt
2014betterfusionforfilters/Main.bib.orig
2014betterfusionforfilters/Main.ps
2014betterfusionforfilters/benches/out/
2014betterfusionforfilters/code/c/dumb.i
2014betterfusionforfilters/code/c/dumb.s
2014betterfusionforfilters/code/fortran/pt-result-phase
2014betterfusionforfilters/code/fortran/pt-result-phase=hlo
2014betterfusionforfilters/fhpc07f-robinson.ps
2014betterfusionforfilters/fhpc07f-robinson.tex
2014betterfusionforfilters/sigplanconf2.cls
2014betterfusionforfilters/style/bussproofs.sty
2015mergingmerges/out/
